.chat-message {
  display: flex;
  align-items: center;
  margin: 6px 0;
  &__avatar {
    display: flex;
    margin: 6px;
    align-items: center;
  }
  img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }
}

.chat-message.received img {
  margin-right: 3.5px;
}

.chat-message.sent img {
  margin-left: 3.5px;
}

.sent {
  flex-direction: row-reverse;
}

p {
  max-width: 500px;
  padding: 12px 16px;
  border-radius: 12px;
  position: relative;
  color: white;
  text-align: left;
}

.sent p {
  background: #0b93f6;
}

.received p {
  background: #3c3c3c;
}